<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/bootstrap-table.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/all.css}" rel="stylesheet" type="text/css" />

    <script type="text/javascript"   th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript"   th:src="@{/js/moment.js}"></script>
    <script type="text/javascript"   th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript"   th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript"   th:src="@{/js/bootstrap-table.min.js}"></script>
    <script type="text/javascript"   th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript"   th:src="@{/js/tableExport.min.js}"></script>
    <script type="text/javascript"   th:src="@{/js/bootstrap-table-export.min.js}"></script>
    <script type="text/javascript"   th:src="@{/js/layer/layer.js}"></script>

</head>
<body>
<div class="container col-md-10" th:unless="${#lists.isEmpty(tableList)}">
    <h2 th:text="|数据库名:${dataBaseName}|"></h2>
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="prefix">包名:</label>&nbsp;&nbsp;
            <input type="text" class="form-control" id="prefix" name="prefix" placeholder="例如:com.slk.capital">
        </div>&nbsp;&nbsp;
        <div>选择后点击：</div>
        <div class="form-group">
            <button type="button" class="btn btn-success" onclick="genSelectTables(0)">基本生成</button>
        </div>&nbsp;&nbsp;
        <div class="form-group">
            <button type="button" class="btn btn-info" onclick="genSelectTables(1)">加强生成</button>
        </div>&nbsp;&nbsp;
    </form>
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-content">
                <div class="table-responsive">
                    <table id="table"
                           class="table"
                           data-toggle="table"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-fullscreen="true"
                           data-show-columns="true"
                           data-show-export="true"
                           data-minimum-count-columns="2"
                           data-pagination="true"
                           data-page-list="[10, 25, 50, 100, ALL]"
                    >
                        <thead>
                        <tr>
                            <th data-checkbox="true"></th>
                            <th>表名</th>
                            <th>数据量</th>
                            <th>平局长度</th>
                            <th>数据长度</th>
                            <th>自增主键当前值</th>
                            <th>创建时间</th>
                            <th>修改时间</th>
                            <th>注释</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tb,userStat : ${tableList}">
                            <td></td>
                            <td th:text="${tb.table_name}"></td>
                            <td th:text="${tb.table_rows}"></td>
                            <td th:text="${tb.avg_row_length}"></td>
                            <td th:text="${tb.data_length}"></td>
                            <td th:text="${tb.auto_increment}"></td>
                            <td th:text="${#dates.format(tb.create_time,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${#dates.format(tb.update_time,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${tb.table_comment}"></td>
                            <td>
                                <span style="white-space: nowrap">
                                    <button type="button" th:data-tablename="${tb.table_name}" class="btn btn-primary" onclick="generate(this.getAttribute('data-tablename'),0)">基本生成</button>&nbsp;&nbsp;
                                    <button type="button" th:data-tablename="${tb.table_name}" class="btn btn-info" onclick="generate(this.getAttribute('data-tablename'),1)">加强生成</button>&nbsp;&nbsp;
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    const $table = $('#table');
    const $prefix = $('#prefix');

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id;
        })
    }

    //返回选择项
    function getNameSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row[1];
        })
    }

    //生成单个
    function generate(tablename,extend) {
        let pre =$prefix.val();
        if($.trim(pre)==""){
            $prefix.focus();
            layer.msg('请输入包名',function () {});
            return ;
        }
        // ajaxGen(pre,tablename,extend);
        postDownload('createBeans',{
            tablenames:tablename,
            prefix:pre,
            extend:extend
        })
    }

    //生成一组
    function genSelectTables(extend) {
        let arr = getNameSelections();
        let pre =$prefix.val();
        if($.trim(pre)==""){
            $prefix.focus();
            layer.msg('请输入包名',function () {});
            return ;
        }
        if(arr.length==0) {
            layer.msg('请输勾选复选框',function () {});
            return ;
        }
        // ajaxGen(pre,arr.join(","),extend);
        postDownload('createBeans',{
            tablenames:arr.join(","),
            prefix:pre,
            extend:extend
        })


    }

    function ajaxGen(pre,tablenames,extend) {
        let index;
        $.ajax({
            url: "createBeans",
            type: "POST",
            data: {
                tablenames:tablenames,
                prefix:pre,
                extend:extend
            },
            beforeSend: function (xhr) {
                index = layer.load(1, {shade: 0.5});    // 数据加载成功之前，使用loading组件
            },
            timeout: 10000,          // 设置超时时间
            dataType: 'json',
            success: function (data) {
                if (!data.flag) {
                    layer.msg(data.message, {icon: 2});
                }else {
                    layer.msg(data.message, {icon: 1});
                }

            },
            error: function (textStatus) {
                layer.msg("请求连接被拒绝！", {icon: 2});
                layer.close(index);
            },
            complete: function (xhr) {
                if(status == 'timeout') {
                    xhr.abort();    // 超时后中断请求
                    layer.msg("请求超时！",{icon:2});
                }
                layer.close(index);
            }
        });
    }

    /**
     * 下载文件
     * @param url
     * @param data
     * @returns {Promise<void>}
     */
    async function postDownload(url, data) {
        const request = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=UTF-8'
            }
        }
        data = data || {};
        let paramsArray = [];
        //拼接参数
        Object.keys(data).forEach(key => paramsArray.push(key + '=' + data[key]));
        if (url.search(/\?/) === -1) {
            url += '?' + paramsArray.join('&')
        } else {
            url += '&' + paramsArray.join('&')
        }

        const response = await fetch(url, request)

        debugger;
        const filename = response.headers.get('content-disposition').split(';')[1].split('=')[1]
        const blob = await response.blob()

        const link = document.createElement('a')
        link.download = decodeURIComponent(filename)
        link.style.display = 'none'
        link.href = URL.createObjectURL(blob)
        document.body.appendChild(link)
        link.click()
        URL.revokeObjectURL(link.href)
        document.body.removeChild(link)
    }


</script>
</body>
</html>
